.container{
    width: 350px;
    height: 370px;
    background-color:white;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    position: relative;
    box-shadow: 6px 4px 10px grey;
}
img{
    margin-left: -20px;
    margin-bottom: 5px;
    margin-top: -20px;
    width: 348px;
    height: 247px;
}
.divAbsent{
    width: 303px;
    height: 180px;
}
button{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 348px;
}
.author {
    position: absolute;
    left: 3vw;
    top: 46.5vh;
    background-color: #fff;
    z-index: 0;
}
.title {
    height: 9vh;
    overflow: hidden;
}